# Node
node_modules/
backend/node_modules/

# Env
.env
.env.*
backend/.env
backend/.env.*
mobile/.env
mobile/.env.*

# Flutter
mobile/.dart_tool/
mobile/.packages
mobile/build/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies

# Android Release Keys
mobile/android/key.properties
mobile/android/app/*.jks

# General
.DS_Store
Thumbs.db